*.log
*.pyc
*.json
Install/seed-voicecard
keys
.idea
etc/test/test_i2c.py
docs/doctrees
docs/html
.ipynb_checkpoints/pino_main-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
